body {
  background-color: #EAECEE;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-app {
  background-color: #EAECEE;
}

.code {
  background-color: #F2F3F4;
  border-radius: 8px;
  font-weight: bold;
}
